* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

/* CONTAINER */

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    background-color: rgb(223, 217, 217);
    /* background: linear-gradient(to right, skyblue, yellow); */
    margin: 1rem auto;
    border-radius: 1rem;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 300;
}
/* FORM BODY MEDIA QUERY */
@media (max-width:750px){
    .form-body{
        margin: 1rem 5rem;
    }
}


.header {
    color: rgb(110, 24, 24);
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 2rem;
}

/*USER ICON*/
.icon {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(110, 24, 24);
    font-size: 5rem;
    margin-bottom: 2rem;
}

@media (max-width:750px){
    .icon{
        margin-bottom: .5rem;
    }
}
/* INPUT FIELD */
.first-name,
.last-name,
.User-name,
.pass-word,
.confirm-pass,
.email{
    width: 80%;
    height: 2rem;
    padding-left: 2rem;
    /* text-align: center; */
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
}

.pass-word {
    width: 80%;
    height: 2rem;
    /* padding-left: 1rem; */
    /* text-align: center; */
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
}
/* MEDIA QUERY FOR INPUT */
@media (max-width:750px) {
    .first-name,
    .last-name,
    .User-name,
    .pass-word,
    .confirm-pass,.email {
        width: 50%;
        height: 2rem;
        padding-left: .3rem;
        margin-top: .5rem;
        font-size: 1rem;
        border-radius: .5rem;
        border: none;
    }
 .email{
    width: 60%;
 }
    .confirmPass,
    .firstName {
        display: flex;
    }
}


/* PARAGRAPH */
.user-name-error,
.password-error,
.confirm-pass-error {
    font-size: .9rem;
    color: red;
    padding-left: .6rem;
}



.name {
    padding-right: 1.5rem;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 1.4rem;
    color: rgb(110, 24, 24);
    font-weight: bolder;
}

/****** LABEL MEDIA QUERY ******/
@media (max-width:800px) {
    .name {
        padding-left: .8rem;
        margin-top: 1rem;
        font-family: "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif;
        font-size: 1rem;
        color: rgb(110, 24, 24);
        font-weight: bolder;
    }
}

.submit-here {
    display: flex;
    justify-content: center;
}

.submit {
    padding: .5rem 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    background-color: rgb(110, 24, 24);
    /* background-color:chartreuse; */
    color: whitesmoke;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
}
/* SUBMIT MEDIA QUERY */
@media (max-width:800px) {
    .submit {
        align-content: center;
        padding: .5rem 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        /* background-color: chartreuse; */
        color: whitesmoke;
        border: none;
        font-size: 1.3rem;
    }
}

.eye-open {
    margin-left: -2rem;
    color: rgb(110, 24, 24);
    cursor: pointer;
}